body{
}



.container::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  	background-image: url(https://media.istockphoto.com/vectors/hilly-lawn-in-the-forest-hills-view-from-above-countryside-rural-vector-id1335008526?k=20&m=1335008526&s=612x612&w=0&h=ql1nXZ8iRdvCkRZGc2t2G0UqBGd7-6A2Vz8J5la_71E=);
    opacity: .5;
    content: "";
    z-index: -1;
}
	.visible{
	visibility: visible;
}
.invisible{
	visibility: hidden;
}
#menu{
	position: absolute;
	left: 10%;
	top: 10%;
	background: lightgray;
	height: auto;
	padding: 10px;
}
#map-container{
	background-image:url(nitdgp_part1.png) ;
	position: absolute;
	background-size: 100% 100%;
	height: auto;
	min-height: 762px;
	min-width: 1800px;
	width: auto;
	background-repeat: no-repeat;
	border-radius: 10px;
	margin: 40px;
	 border: 14px solid darkblue;
	/*z-index: 0;*/
}
.place-img{
	z-index: 1;
	width: 20px;
}
.place{
	z-index: 0;
	position: absolute;
	color: black;
	height: auto;
	max-height: 40px;
	font-family: sans-serif;
	width: auto;
	font-style: bold;
	background: white;
	opacity: 0.7;
	border-radius: 5px;
	padding: 5px;
}
#place1{
	left:  90%;
	top: 75%;

}
#place2{
	left:  24%;
	top: 46%;

}
#place3{
	left:  50%;
	top: 30%;

}
#place4{
	left:  63%;
	top: 60%;

}
#place5{
	left:  75%;
	top: 42%;

}
#place6{
	left:  50%;
	top: 72%;

}
#place7{
	left:  81%;
	top: 62%;

}
#place8{
	left:  88%;
	top: 60%;

}
#place9{
	left:  88%;
	top: 60%;

}
#place10{
	left:  50%;
	top: 81%;

}

#place11{
	left:  25%;
	top: 23%;

}
#place12{
	left:  64%;
	top: 30%;

}#place13{
	left:  53%;
	top: 27%;

}#place14{
	left:  33%;
	top: 37%;

}#place15{
	left:  30%;
	top: 75%;

}#place16{
	left:  57%;
	top: 39%;

}#place17{
	left:  72%;
	top: 51%;

}

.acad{
	background: grey;
}
.recreation{
	background: palevioletred;
}
.unlisted{
	background: yellow;
}
.hostel{
	background: limegreen;
}
#bottomHeader{
	position: absolute;
	top :90%;
	background: wheat;
	left: 41%;
	padding-left: 10px;
	padding-right: 10px;
}
